@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  font-family: "NanumSquare", sans-serif;
}

html {
  font-size: 62.5%;
}

.landing_first {
  height: 100vh;
  background-color: rgb(198, 211, 228);
}

.landing_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 50vh;
}

.landing_container a {
  color: black;
}

.landingPage h1 {
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

/* 사람들 사진 */
.landing_img {
  display: flex;
  justify-content: space-around;
  background: url("/images/landing/background-share.png");
  text-align: right;
  padding-top: 10vh;
  margin: 0 12vw;
}

.landing_img img {
  max-height: 40vh;
}

/* 검색바 */
.change_search {
  position: fixed;
  top: 20px;
  z-index: 5;
}

.change_search input {
  background-color: rgb(238, 238, 238);
  padding: 1em;
  border-radius: 30px;
  border: none;
}

.search input {
  background-color: white;
  font-size: 1.8rem;
  border: none;
  padding: 1.6rem;
}

input::placeholder {
  color: rgb(165, 165, 165);
}

.search input[type="text"]:focus,
.change_search input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid gray;
}

.search input[type="text"] {
  width: 25vw;
  margin-right: 1.3rem;
}

.change_search input[type="text"] {
  width: 20vw;
  margin-right: 1rem;
}

.search input[type="submit"],
.change_search input[type="submit"] {
  background-color: gray;
  color: white;
  font-weight: bold;
  width: 8vw;
  min-width: 70px;
}

.change_search input[type="submit"] {
  width: 5vw;
  min-width: 70px;
}

/* 소개 부분 */
.intro_container1,
.intro_container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.intro_container1 p,
.intro_container2 p {
  font-size: 1.5rem;
}

.intro_container2 {
  background-color: rgb(236, 217, 217);
}

#handshake {
  margin-left: 3rem;
  width: 20vw;
  max-width: 230px;
}

.intro_img {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
  padding-top: 10rem;
}

.intro_img img {
  width: 20vw;
  max-width: 230px;
}

.intro_img #pizza {
  position: relative;
  top: -90px;
  left: 100px;
}

.intro_content {
  text-align: left;
}

.landingPage button {
  font-size: 1.5rem;
  padding: 1.6rem;
  margin: 0.8rem 0;
  border: none;
  border-radius: 30px;
  background-color: white;
}

.landingPage button:hover {
  color: white;
  font-weight: 600;
  background-color: rgb(199, 152, 152);
}

@media (max-width: 768px) {
  .landingPage h1 {
    /* font-size: 6vw; */
    font-size: 2.5rem;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .search input {
    font-size: 4vw;
  }
  .search input[type="text"] {
    width: 50vw;
  }
  .landingPage .change_search {
    display: none;
  }
  .landing_first {
    height: 90vh;
  }
  .landing_container {
    height: 50vh;
  }
  .landing_img {
    padding-top: 20vh;
    margin: 0 5vw;
  }
  .landing_img img {
    max-height: 20vh;
  }
  .intro_container1,
  .intro_container2 {
    flex-direction: column;
  }
  .intro_container2 {
    padding-bottom: 3vh;
  }
  #handshake {
    margin-left: 0rem;
    width: 50vw;
  }
  .intro_img {
    max-height: 50vh;
    margin-bottom: -7vh;
    padding-top: 0;
  }
  .intro_img img {
    width: 40vw;
  }
  .intro_content {
    text-align: center;
  }
  .intro_content p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .change_search {
    z-index: 0;
  }
}
