.pagination {
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    padding: 3rem;
}

.pagination_item {
    color: rgb(85, 85, 85);
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 1rem;
}

.pagination_item:hover {
    color: black;
    font-weight: 800;
    cursor: pointer;
}