@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  font-family: "NanumSquare", sans-serif;
}

.navBar {
  position: fixed;
  z-index: 5;
}

.nav_title {
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: 600;
  margin: 20px 0;
  float: left;
  padding-left: 15vw;
}

.nav_login,
.nav_signup {
  float: right;
  margin: 25px 0;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 1rem 1.7rem;
  background-color: white;
  border-radius: 30px;
}
.nav_login {
  margin-left: 1.5vw;
  margin-right: 10vw;
}
.nav_login:hover,
.nav_signup:hover {
  background-color: gray;
  font-weight: bold;
  color: white;
}

.original_header p {
  display: inline-block;
}
.original_header {
  position: fixed;
  color: white;
  font-family: "NanumSquare", sans-serif;
  background-color: rgb(198, 211, 228);
  width: 100%;
  height: 80px;
  top: 0;
}
.original_header .nav_title {
  color: white;
}

.change_header .nav_title {
  color: rgb(165, 191, 228);
}
.change_header {
  position: fixed;
  font-family: "NanumSquare", sans-serif;
  background-color: white;
  width: 100%;
  height: 80px;
  top: 0;
  border-bottom: 1px solid #ebebeb;
  transition: all 0.3s;
}

/* 왼쪽바 */
.nav_left {
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 10;
}
.nav_burger {
  position: inherit;
  left: calc(15vw - 7rem);
  z-index: 15;
}
.nav_burger_click {
  position: inherit;
  left: calc(250px - 7rem);
  z-index: 15;
}

.nav_logedinuserId{
  float: right;
  margin: 25px 0;
  font-size: 1.6rem;
  padding: 1rem 1.7rem;
  border-radius: 30px;
  text-decoration: underline;
  text-underline-position: under;
  color: black;
  
}
.nav_logout{
  
  float: right;
  margin: 25px 0;
  font-size: 1.6rem;
  color: black;
  padding: 1rem 1.7rem;
  background-color: white;
  border-radius: 30px;

  margin-left: 1.5vw;
  margin-right: 10vw;
}
.nav_logout:hover {
  cursor: pointer;
  background-color: gray;
  font-weight: bold;
  color: white;
}

@media (max-width: 768px) {
  .change_header {
    height: 10vh;
  }
  .nav_title {
    margin: calc((10vh - 7vw) / 2) 0;
    font-size: 8vw;
    padding-left: 10vw;
  }
  .nav_login,
  .nav_signup {
    margin-top: calc((10vh - 1vw - 2rem) / 2);
    padding: 1rem 1.2rem;
    font-size: 3vw;
  }
  .nav_login {
    margin-right: 10vw;
  }

  .nav_left {
    width: 50vw;
  }
  .nav_burger_click {
    left: calc(50vw - 7rem);
  }
  .nav_logedinuserId, .nav_logout {
    margin-top: calc((10vh - 1vw - 2rem) / 2);
    padding: 1rem 1.2rem;
    font-size: 3vw;
  }
}
