@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  font-family: "NanumSquare", sans-serif;
}
.Registerpage{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(198, 211, 228);
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 5rem;
    text-align: center;
    display: flex;
}

.Registerpage input:focus {
    outline: none;
    border-bottom:0.2rem solid rgb(80, 80, 80);
}

.Register_h4{
    font-size: 4.2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.Register_pwchecktext{
    color:red;
    margin-left: 15rem;
    font-size: 1.5rem;}
.Register_form{
    display: inline-block;
    align-items: center;
    height: 290px;
    width: 450px;
    margin-bottom: 33rem;
}
.Register_textarea{
    align-content: center;
    border: 0;
}
.Register_name{
    font-size: 2rem;
    align-content: center;
    border-radius: 22px;
    /* margin-bottom: 4rem; */
    width: 115px;
    height: 64px;
}
.Register_table{
    table-layout: auto; 
    /* margin-top: 10vh;
    margin-bottom: 10px; */
     /* padding-left: 0px; */
    width: 500px;
    margin: 0 auto;

}


.Register_table_id{
    table-layout: auto; 
    width: 400px;
    margin: 0 auto;
}

.Register_textinput{
    font-family: 'Montserrat regular';
    width: 80%;
    margin-top: 0.2rem;
    font-size: 1.8rem;
    border: none;
    width: 80%;
    border-bottom:0.2rem solid rgba(0, 0, 0, 0.19);
}

.Register_button{
    margin-top: 3rem;
    width: 165px;
    height: 60px;
    border-radius: 30px;
    background: #B58DED;
    border: none;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
}
.Register_address_button{
    width: 85px;
    height: 20px;
    border-radius: 3px;
    background: #969696;
    border: none;
    font-size: 1.34rem;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 2.2rem;
}
/* .Register_check_button{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background: #969696;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 10pt;
} */
.Register_address_button:hover{
    box-shadow: 0 2px 2px 0 rgba(82, 82, 82, 0.7), 0 2px 4px 0 rgba(102, 102, 102, 0.9);
}
.Register_button:hover{
    box-shadow: 0 0.48rem 0.96rem 0 rgba(181, 141, 237, 0.7), 0 0.72rem 2.4rem 0 rgba(181, 141, 237, 0.9);
}
/* 
.Register_check_button:hover{
    box-shadow: 0 2px 2px 0 rgba(82, 82, 82, 0.7), 0 2px 4px 0 rgba(102, 102, 102, 0.9);
} */
.Register_main{
    display: inline-block;
    background: #FFFFFF;
    width: 700px;
    height: 850px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Register_link{
    color: #305b83;
    font-size: 1.8rem;
    text-decoration: none;
}
.Register_link:hover{
    text-decoration: underline;
}
.Register_register{
    font-size: 1.8rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .Register_main{
    display: inline-block;
    background: #FFFFFF;
    width: 80vw;
    height: 850px;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Register_textinput{
    font-family: 'Montserrat regular';
    margin-top: 0.2rem;
    font-size: 0.2rem;
    border: none;
    /* width: 70%; */
    width: 50px;
    border-bottom:0.2rem solid rgba(0, 0, 0, 0.19);
}
.Register_name{
    font-size: 1rem ;
    align-content: center;
    border-radius: 22px;
    /* margin-bottom: 4rem; */
    width: 115px;
    height: 64px;
}
.Register_textarea{
    align-content: center;
    border: 0;
    width: 3vw;
}
.Register_table{
    table-layout: auto; 
    /* margin-top: 10vh;
    margin-bottom: 10px; */
     /* padding-left: 0px; */
     width: 60vw;
    margin: 0 auto;
}
}
