.chat_div{
    padding-top: 100px;
    z-index: 14;
    background-color:  rgb(198, 211, 228);
    min-height: 100vh;
    padding-bottom: 10rem;
}

.chat_out_div{
    width: 70vw;
    
    align-items: center;
    justify-content: center;
    margin: auto;
    
    border: 2vw solid #fff;
    border-radius: 15px;
    margin-top: 20px;
    
    background-color: white;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.025), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);

    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.chat_innertitle_div{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    padding-right: 15px;
}

.chat_nick_span{
    font-size: 25px;
}

.chat_option_span{
    float: right;
    font-size: 17px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.chat_message_table{
    width: 70vw;
    margin: 10px;
}
.chat_chat_div{
    margin-left: 15px;
    margin-right: 15px;
}
.chat_chat_not_me_div{
    /* margin-top: 20px; */
    /* background-color: rgb(198, 211, 228); */
    
    padding: 10px;
    display: flex;
    
}
.chat_message_span{
    font-size: 17px;
    margin-top: 2px;
}
.chat_chat_my_div{
    /* margin-top: 20px; */
    /* background-color: rgb(198, 211, 228); */
    
    padding: 10px;
    display: flex;
    
    
}
.chat_send_div{
    width: 74vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: 10px;
}
.chat_message_textinput{
    font-family: 'Montserrat regular';
    width: 85%;
    align-self: center;
    /* margin-top: 2rem; */
    /* margin-bottom: 1rem; */
    font-size: 2rem;
    padding: 2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.chat_send_empty{
    width: 3%;
}
.chat_send_button{
    width: 12%;
    height: 60px;
    border-radius: 30px;
    background: #B58DED;
    border: none;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 5rem;
    align-self: center;
    justify-self: center;
    margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {    
    .chat_out_div{
        padding-top: 10px;
        width: 95vw;
        border: 0vw solid #D8D7D7;
    }
    .chat_innertitle_div {
        padding-top: 10px;
    }
    .chat_nick_span{
        font-size: 20px;
    }
    .chat_option_span{
        font-size: 15px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .chat_message_table{
        width: 85vw;
        margin: 10px;
    }
    .chat_message_span{
        font-size: 15px;
    }
    .chat_chat_not_me_div{
        /* margin-top: 15px; */
    }
    
}