.detailPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  background-color: rgb(198, 211, 228);
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 5rem;
}
.detail_container {
  margin-top: 2rem;
}
.detail_post {
  display: flex;
  width: 70vw;
  max-width: 850px;
  flex-direction: column;
  background-color: white;
  margin: 1.7rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.025), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.detail_post_top {
  display: flex;
  flex-direction: column;
}
.detail_post_top main {
  margin-left: 1.5rem;
}

.detail_post_userInfo {
  display: flex;
  height: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.detail_post_bottom {
  margin-right: 2rem;
  margin-left: 2rem;
}

.detailPage .post_userImg {
  max-height: 40px;
}
.detailPage .post_score {
  font-size: 1.5rem;
  padding-top: calc((40px - 1.5rem) / 2);
  margin-left: auto;
}
.detail_post_userInfo a {
  font-size: 2rem;
  padding-top: calc((40px - 2rem) / 2);
}
.detailPage .post_id {
  font-size: 2rem;
  padding-top: calc((40px - 2rem) / 2);
}
.detailPage .post_date {
  font-size: 1.5rem;
  padding-top: calc((40px - 1.5rem) / 2);
}
.detailPage .post_score {
  font-size: 2rem;
}
.detailPage .post_img {
  height: 300px;
  width: auto;
  max-width: 95%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.detailPage .post_title {
  font-size: 2rem;
}
.detailPage .post_cost,
.detailPage .post_place,
.detailPage .post_num {
  font-size: 1.8rem;
}
.detailPage .post_num {
  margin-top: 5rem;
}
.detailPage .post_plus {
  font-size: 1.6rem;
  margin-top: 2rem;
}
.detailPage hr {
  color: gray;
}

/* 이미지 캐러셀 */
.detail_slider {
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.detail_slider div {
  outline: none;
}
.slider .slick-prev {
  position: absolute;
  left: -1.2rem;
  z-index: 10;
}
.slider .slick-next {
  position: absolute;
  right: -1.2rem;
  z-index: 10;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: gray;
}

/* 버튼 */
.detail_button {
  display: flex;
  justify-content: center;
}
.detail_button a {
  margin-right: 1.5rem;
}
.detail_button a,
.detail_scrap {
  font-size: 1.8rem;
  text-align: center;
  background-color: white;
  width: calc(35vw - 3rem);
  max-width: calc(425px - 3rem);
  height: 2.5rem;
  padding: 1.8rem;
  border-radius: 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(24, 19, 19, 0.025),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.detail_button a:hover,
.detail_scrap:hover {
  background-color: rgb(230, 233, 236);
  cursor: pointer;
}

.detail_ud {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.detail_ud span {
  font-size: 1.5rem;
  color: gray;
  margin-right: 1.2rem;
  padding: 0.5rem;
}
.detail_ud span:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .detail_container {
    width: 100vw;
  }
  .detail_post {
    width: 80vw;
  }
  .detailPage .post_img {
    width: 90%;
    height: auto;
  }
  .detailPage .post_id,
  .detailPage .post_score {
    font-size: 1.8rem;
  }
  .detailPage .post_cost,
  .detailPage .post_place {
    font-size: 1.6rem;
  }

  .detail_button a,
  .detail_scrap {
    width: calc(40vw - 3rem);
    height: 2.5rem;
  }
}
