.bottom_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: lightgray;
}
.bottom_container span {
  color: rgb(85, 85, 85);
  font-size: small;
  margin: 1rem;
  background-color: lightgray;
}
